<template>
  <div>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title class="overline">
            Грузы
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
          >
            <template v-slot:item.actions="{ item }" v-slot:>
              <v-icon
                small
                class="mr-2"
                @click="updateCargo(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                color="red"
                @click="deleteCargo(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-btn
      color="primary"
      fixed
      bottom
      right
      dark
      fab
      @click="openCreateDialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>

import CargoDialog from "@/components/cargos/CargoDialog";
import resource from "@/mixins/resource";

export default {
  name: "index",
  data: () => ({
    resource: "cargos",
    headers: [
      {text: 'Номенаклатура', value: 'attributes.nomenclature'},
      {text: 'Вес, кг', value: 'attributes.weight'},
      {text: 'Действия', value: 'actions'},
    ],
  }),
  mixins: [resource],
  methods: {
    async openCreateDialog() {
      const dialog = await this.$dialog.showAndWait(CargoDialog, {
        persistent: true,
      });
      if (dialog !== false) {
        let form = dialog.attributes
        await this.$axios.post('/cargos', form)
        this.loadItems();
      }
    },
    async updateCargo(cargo) {
      const dialog = await this.$dialog.showAndWait(CargoDialog, {
        final: cargo,
        persistent: true,
      })

      if (dialog !== false) {
        const form = dialog.attributes;
        await this.$axios.put('/cargos/' + cargo.id, form);
        this.loadItems();
      }
    },
    async deleteCargo(cargo) {
      await this.$axios.delete('/cargos/' + cargo.id);
      this.loadItems();
    },
  }
}
</script>

<style scoped>

</style>
