<template>
  <dialog-card
    title="Создание груза"
    :actions="actions"
    :handle="handleClick"
  >
    <cargo-form v-model="editedValue.attributes" :final="final.attributes"/>
  </dialog-card>
</template>

<script>

import resourceDialog from '@/mixins/resourceDialog'
import CargoForm from "@/components/cargos/CargoForm";

export default {
  name: "CargoDialog",
  components: {CargoForm},
  mixins: [resourceDialog],
}
</script>

<style scoped>

</style>
