<template>
  <v-form>
    <v-text-field label="Наименование" v-model="value.name"/>
    <v-text-field label="Дата заключения" v-model="value.conclusion_date"/>
  </v-form>
</template>

<script>
import resourceForm from "@/mixins/resourceForm";

export default {
  name: "ApplicationForm",
  mixins: [resourceForm]
}
</script>

<style scoped>

</style>
