<template>
  <v-form>
    <v-autocomplete v-model="value.receiver_id" :items="items" item-text="attributes.name"
                    item-value="id"/>
  </v-form>
</template>

<script>
import resourceForm from "@/mixins/resourceForm";

export default {
  name: "ApplicationReceiverForm",
  mixins: [resourceForm],
  computed: {
    items() {
      return this.$store.getters['contacts/all'];
    }
  },
  mounted() {
    this.loadItems();
  },
  methods: {
    loadItems() {
      return this.$store.dispatch('contacts/loadAll');
    },
  }
}
</script>

<style scoped>

</style>
